{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PMS | Lists</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css'%}" rel="stylesheet">

  <style>
    img {
      border-radius: 50%;
    width: 50px;
    height: 50px;
    }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1 class="text-light"><a href="{% url 'add' %}"><span>BUSIIKA</span></a></h1>

        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto " href="{% url 'add' %}">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="#about">Contact</a></li>
            {% if user.is_authenticated %}
            <li><a class="login scrollto" href="">{{user.username}}</a>
              <li><a class="login scrollto" href="{% url 'userlogout' %}">Signout</a>
              </li>
            {% else %}
            <li><a class="login scrollto" href="{% url 'login' %}">Login  </a></li>
            {% endif %}
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div><!-- End Header Container -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>     </h2>
          <ol>
            <li><a href="{% url 'add' %}">Home</a></li>
            <li>Inner Page</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->
    <center> <h2>Product List</h2></center>
    <div class="table-responsive pt-3">
        
        <table class="table table-bordered">
          <thead>
            <tr>
              
              <th>
                Product Name
              </th>
              <th>
                Product Description
              </th>
              <th>
                Specification
              </th>
              <th>
                Stock
              </th>
              <th>
                Price
              </th>
              <th>
                Image
              </th>
              <th>
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-info">

              {% for product_list in product_list %}
              <td>{{product_list.productidnumber}}</td>
              <td>{{product_list.productname}}</td>
              <td>{{product_list.productprice}}</td>
              <td>{{product_list.productstock}}</td>
              <td>{{product_list.productdescrition}}</td>
              {% if product_list.productimage%}

                <td>
                  <img src="{{product_list.productimage.url }}" alt="" class="prod-size" >
                </td>
              {% else %}
                <td>
                    <img src="" alt="" class="prod-size">
                </td>
              {% endif %}
              <td>
                <form action="{% url 'deleteproduct' product_list.id %}">
                  <button type="submit" class="btn btn-light border btn-sm">Delete</button>
              </form></td>
              <form action="{% url 'updateproduct' product_list.id %}">
                <td><a href="{% url 'updateproduct' product_list.id %}"></a><button type="submit" class="btn btn-light border btn-sm">Update</button></td>
            </form>
            

            </tr>
            {% endfor %}
            




             
            
          </tbody>
        </table>

<br><br><br>
        <center> <h2>Doctor List</h2></center>
    <div class="table-responsive pt-3">
        
        <table class="table table-bordered">
          <thead>
            <tr>
              <!-- <th>
                Serial number
              </th> -->
              <th>
                Doctor Name
              </th>
              <th>
                Doctor Specification
              </th>
              <th>
                Hospital Name
              </th>
              <th>
                Address
              </th>
              <th>
                Fess
              </th>
              <th>
                Image
              </th>
              <th>
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-info">

              {% for doctorlist in doctorlist %}
              <td>{{doctorlist.doctorname}}</td>
              <td>{{doctorlist.specialization}}</td>
              <td>{{doctorlist.hospitalname}}</td>
              <td>{{doctorlist.address}}</td>
              <td>{{doctorlist.fess}}</td>
              {% if doctorlist.doctorimage%}

                <td>
                  <img src="{{doctorlist.doctorimage.url }}" alt="" class="prod-size">
                </td>
              {% else %}
                <td>
                    <img src="" alt="" class="prod-size">
                </td>
              {% endif %}
              <td>
              <form action="{% url 'deletedoc' doctorlist.id %}">
                <button type="submit" class="btn btn-light border btn-sm">Delete</button>
            </form></td>
            <form action="{% url 'updatedoc' doctorlist.id %}">
              <td><a href="{% url 'updatedoc' doctorlist.id %}"></a><button type="submit" class="btn btn-light border btn-sm">Update</button></td>
          </form>
            

            </tr>
            {% endfor %}
            




             
            
          </tbody>
        </table>

    <section id="why-us" class="why-us">
        <div class="container">
  
          <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">

              </div>
            </div>

          </div>
  
        </div>
      </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <section id="about" class="about">
            <div class="container">
      
              <div class="row content">
                <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                  <h2>BUSIIKA</h2>
                  <h3>A Pharmacy Management System</h3>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
                  <p>
                    This system is specifically for convenience of ordering medicines, consulting doctors and tracking all your orders online from BUSIIKA PHARMACY.<br><br>
                    
                  </p>                 
                </div>
              </div>
      
            </div>
          </section>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

    </div>
  </footer><!-- End Footer -->

  <section id="cta" class="cta">
    <div class="container">

      <div class="text-center" data-aos="zoom-in">
        <h3>Customer-care Support</h3>
        <p> Feel Free to contact us. We will make sure to resolve your problem as soon as possible</p>
        <a class="cta-btn" href="{% url 'contactus' %}">Contact Us</a>
      </div>

    </div>
  </section>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{% static 'vendor/aos/aos.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js'%}"></script>

</body>

</html>