{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>PMS Store </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'store/fonts/icomoon/style.css'%}">

  <link rel="stylesheet" href="{% static 'store/css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'store/css/magnific-popup.css'%}">
  <link rel="stylesheet" href="{% static 'store/css/jquery-ui.css'%}">
  <link rel="stylesheet" href="{% static 'store/css/owl.carousel.min.css'%}">
  <link rel="stylesheet" href="{% static 'store/css/owl.theme.default.min.css'%}">


  <link rel="stylesheet" href="{% static 'store/css/aos.css'%}">

  <link rel="stylesheet" href="{% static 'store/css/style.css'%}">
  <style>
    img {
    width: 300px;
    height: 300px;
    }
  </style>

</head>

<body>

  <div class="site-wrap">


    <div class="site-navbar py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="{% url 'add' %}" class="js-logo-clone">PMS-Store</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li><a href="{% url 'add' %}">Home</a></li>

              </ul>
            </nav>
          </div>
          <div class="icons">
            <!-- <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a> -->
            <a href="{% url 'vieworders' %}" class="icons-btn d-inline-block bag">
              <span class="icon-shopping-bag"></span>
              <span class="number">2</span>
            </a>
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{% url 'add' %}">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Store</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">

    
        <div class="row">
          
          {% for product_list in product_list %}
      
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">{{product_list.productname}}</h2>
                
                <div class="template-demo">
                  {% if product_list.productimage%}
                 
                  <img src="{{product_list.productimage.url }}" alt="" height="500" width="500"  class="prod-size">
       
                  {% else %}
                  <img src="" alt="" class="prod-size">
                  {% endif %}
                  <h3>Price : {{product_list.productprice}}</h3>
                  <h4>Description : {{product_list.productdescrition}}</h4>
                  <h4>Stock Available: {{product_list.productstock}}</h4>
                  <form action="{% url 'addcart' product_list.id%}" method="POST">
                    {% csrf_token%}
                    <input hidden type="text" value="{{product_list.id}}">
                    <input type="submit" class="float-right btn btn-light border btn-sm"  value="Add to cart">
    
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>

    
    <div class="site-section bg-secondary bg-image" style="background-image: url({% static 'store/images/bg_2.jpg'%});">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url({% static 'store/images/bg_1.jpg'%});">
              <div class="banner-1-inner align-self-center">
                <h2>Pharma Products</h2>
                <p>The most trusted site incase of quality we provide in our service and our product too.........
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url({% static 'store/images/bg_2.jpg'%});">
              <div class="banner-1-inner ml-auto  align-self-center">
                <h2>Rated by Experts</h2>
                <p>We have got doctor& experts supports.............
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>


    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

            <div class="block-7">
              <h3 class="footer-heading mb-4">About Us</h3>
              <p>
                A Hub of Medicines and Doctors
                Its the site created by our team to make users life easy. 
                </p>
            </div>

          </div>
          <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
            <div class="text-center" data-aos="zoom-in">
              <h3>Customer-care Support</h3>
              <p> Feel Free to contact us. We will make sure to resolve your problem as soon as possible</p>
              <a class="cta-btn" href="{% url 'contactus' %}">Contact Us</a>
            </div>
          </div>
          <style>
            .text-center{
              font-weight: bold;
            }
            .block-7{
              font-weight: bold;
            }
          </style>

          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">BUSIIKA</li>
                <li class="phone"><a href="#">+256756120580</a></li>
                <li class="email">busiikapharmac@gmail.com</li>
              </ul>
            </div>
            

          </div>
        </div>

      </div>
    </footer>
  </div>

  <script src="{% static 'store/js/jquery-3.3.1.min.js'%}"></script>
  <script src="{% static 'store/js/jquery-ui.js'%}"></script>
  <script src="{% static 'store/js/popper.min.js'%}"></script>
  <script src="{% static 'store/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'store/js/owl.carousel.min.js'%}"></script>
  <script src="{% static 'store/js/jquery.magnific-popup.min.js'%}"></script>
  <script src="{% static 'store/js/aos.js'%}"></script>

  <script src="{% static 'store/js/main.js'%}"></script>

</body>

</html>